.form_container {
  background-color: #fff;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}

.form_container h2 {
  background-color: #fff;
  text-transform: uppercase;
}

.form_container .box input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #868686;
}

.form_container button {
  margin-left: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: #2196f3;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.database {
  padding: 20px 40px;
  width: 100%;
}

.database h2 {
  color: #2196f3;
  font-size: 30px;
  text-transform: uppercase;
}

.database .container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
}

.database .container .box {
  text-align: left;
  background: #fff;
  padding: 10px;
}

.database .container .box button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
